{{ if eq .chezmoi.os "windows" -}}
["./.local/bin/ahk_TTS.exe"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "YoraiLevi/ahk-autohotkeys" "ahk_TTS_all.exe" | quote }}
    refreshPeriod = "168h"
    executable = true
["./.local/bin/ahk_REMAP.exe"]
    type = "file"
{{- if contains .BaseBoard  "TP412FAC" }}
    url = {{ gitHubLatestReleaseAssetURL "YoraiLevi/ahk-autohotkeys" "ahk_keyboard_remap_TP412FAC.exe" | quote }}
{{- else if contains .BaseBoard "0J8T5G"}}
    url = {{ gitHubLatestReleaseAssetURL "YoraiLevi/ahk-autohotkeys" "ahk_keyboard_remap_all.exe" | quote }}
{{- else }}
    url = {{ gitHubLatestReleaseAssetURL "YoraiLevi/ahk-autohotkeys" "ahk_keyboard_remap_all.exe" | quote }}
{{- end }}
    refreshPeriod = "168h"
    executable = true
{{- end -}}
