{{ if eq .chezmoi.os "windows" -}}
["./.local/bin/ahk_TTS.exe"]
    type = "file"
    url = "https://github.com/YoraiLevi/ahk-autohotkeys/releases/latest/download/ahk_TTS_all.exe"
    refreshPeriod = "168h"
    executable = true
["./.local/bin/ahk_REMAP.exe"]
    type = "file"
{{- if contains .BaseBoard  "TP412FAC" }}
    url = "https://github.com/YoraiLevi/ahk-autohotkeys/releases/latest/download/ahk_keyboard_remap_TP412FAC.exe"
{{- else if contains .BaseBoard "0J8T5G"}}
    url = "https://github.com/YoraiLevi/ahk-autohotkeys/releases/latest/download/ahk_keyboard_remap_all.exe"
{{- else }}
    url = "https://github.com/YoraiLevi/ahk-autohotkeys/releases/latest/download/ahk_keyboard_remap_all.exe"

{{- end }}
    refreshPeriod = "168h"
    executable = true
{{- if contains .BaseBoard "TP412FAC" }}
["./Downloads/interception_driver.exe"]
    type = "archive-file"
    url = "https://github.com/YoraiLevi/ahk-autohotkeys/raw/master/KeyboardRemap/Lib/Interception.zip"
    path = "Interception/command line installer/install-interception.exe"
    executable = true
{{- end }}
{{- end -}}

