{{ if eq .chezmoi.os "windows" -}}
["./.local/bin/ProcessExplorer.exe"]
    # https://learn.microsoft.com/en-us/sysinternals/downloads/process-explorer
    type = "archive-file"
    url = "https://download.sysinternals.com/files/ProcessExplorer.zip"
    path = "procexp.exe"
    refreshPeriod = "168h"
    executable = true

["./.local/bin/PsExec64.exe"]
    # https://learn.microsoft.com/en-us/sysinternals/downloads/psexec
    type = "archive-file"
    url = "https://download.sysinternals.com/files/PSTools.zip"
    path = "PsExec64.exe"
    refreshPeriod = "168h"
    executable = true
{{- end -}}