{{- $sourceDesktopIniPath := joinPath .chezmoi.sourceDir (dir .chezmoi.sourceFile) "desktop.ini" -}}
{{- $targetDesktopIniPath := joinPath (dir .chezmoi.targetFile) "desktop.ini" -}}
{{- if stat $sourceDesktopIniPath -}}
{{- if stat $targetDesktopIniPath -}}
{{- $sourceChecksum := include $sourceDesktopIniPath | sha256sum -}}
{{- $targetChecksum := include $targetDesktopIniPath | sha256sum -}}
{{ $attribCmd := template "attribDiff" dict "path" "desktop.ini" "attributes" (list "A" "S" "H" ) }}
{{- if or (ne $sourceChecksum $targetChecksum) (ne $attribCmd "") -}}
echo "== {{ .chezmoi.sourceFile | trim }} =="
{{ $attribCmd }}
attrib +r -h .
{{- end -}}
{{- else -}}
# Target doesn't exist, will be created - set permissions after
echo "== {{ .chezmoi.sourceFile | trim }} =="
attrib +h +s desktop.ini
attrib +r -h .
{{- end -}}
{{- else -}}
# Source desktop.ini does not exist - script not applicable
{{- end -}}