[cd]
    command = "pwsh.exe"

[git]
    autoCommit = true    
#    autoPush = true

#[edit]
#    command = "code-insders" # doesn't work with `chezmoi edit`, $ENV:EDITOR does work
#    flags = ["--wait"]
