{{ if eq .chezmoi.os "windows" -}}
[cd]
    command = "pwsh.exe"

[scriptEnv]
    ChocolateyInstall1 = "C:/ProgramData/chocolatey"
{{ end -}}

[git]
    autoCommit = true
#    autoPush = true

#[edit]
#    command = "code-insders" # doesn't work with `chezmoi edit`, $ENV:EDITOR does work
#    flags = ["--wait"]

{{ if eq .chezmoi.os "windows" -}}
[interpreters]
    py = { command = 'C:/Windows/py.exe', args = ["-3"]}
    ps1 = { command = "C:/Program Files/PowerShell/7/pwsh.exe", args = ["-NoLogo"] }
{{ end -}}
#    js = { command = 'node' }
#    ts = { command = 'ts-node' }