{{ if eq .chezmoi.os "windows" -}}
{{- if contains .chezmoi.config.env.BaseBoard "TP412FAC" }}
@echo off
REM https://stackoverflow.com/a/38856823/12603110 - How to detect if CMD is running as Administrator
net.exe session 1>NUL 2>NUL || (Echo This script requires elevated rights. & Exit /b 1)

{{ .chezmoi.homeDir }}/Downloads/interception_driver.exe /install
{{ end -}}
{{ end -}}
