# explorer
# https://stackoverflow.com/a/45633941/12603110
# $o = new-object -com shell.application
# $o.Namespace($ENV:USERPROFILE).Self.InvokeVerb("pintohome")
# $o.Namespace("shell:::{679f85cb-0220-4080-b29b-5540cc05aab6}").Items()