{{ if eq .chezmoi.os "windows" -}}
#Requires -RunAsAdministrator
{{ range .regedit}}Write-Host {{ .name | squote }} -NoNewline; reg.exe import ./Downloads/regedits/{{.name | squote }}
{{end -}}
{{- end -}}