{{- $sourceDesktopIniPath := joinPath .chezmoi.sourceDir (dir .chezmoi.sourceFile) "desktop.ini" -}}
{{- $targetDesktopIniPath := joinPath (dir .chezmoi.targetFile) "desktop.ini" -}}
{{- if stat $sourceDesktopIniPath -}}
{{- if stat $targetDesktopIniPath -}}
{{- $sourceChecksum := include $sourceDesktopIniPath | sha256sum -}}
{{- $targetChecksum := include $targetDesktopIniPath | sha256sum -}}
{{- $hasCorrectPerms := output "powershell.exe" "-NoProfile" "-Command" (printf "$filePath = '%s'; $attributes = (Get-Item -Path $filePath -Force).Attributes; [boolean]($attributes -band [System.IO.FileAttributes]::Hidden -and $attributes -band [System.IO.FileAttributes]::System)" $targetDesktopIniPath) | trim | lower -}}
{{- if or (ne $sourceChecksum $targetChecksum) (eq $hasCorrectPerms "false") -}}
echo "== {{ .chezmoi.sourceFile | trim }} =="
attrib +h +s desktop.ini
attrib +r -h .
{{- end -}}
{{- else -}}
# Target doesn't exist, will be created - set permissions after
echo "== {{ .chezmoi.sourceFile | trim }} =="
attrib +h +s desktop.ini
attrib +r -h .
{{- end -}}
{{- else -}}
# Source desktop.ini does not exist - script not applicable
{{- end -}}