# {{ range glob (joinPath .chezmoi.sourceDir (dir .chezmoi.sourceFile) "*-extensions.txt") }}{{ include . | sha256sum}} {{ end }}
# {{ range glob (joinPath .chezmoi.destDir (dir .chezmoi.sourceFile) "*-extensions.txt") }}{{ include . | sha256sum}} {{ end }}
echo "== {{ .chezmoi.sourceFile | trim }} =="
@('cursor', 'code-insiders', 'code') | Where-Object { Get-Command $_ -ErrorAction SilentlyContinue } | foreach {
    $_EDITOR = $_; cat "$ENV:USERPROFILE\.vscode\$_EDITOR-extensions.txt" -ErrorAction Continue | foreach { 
        $extension = $_
        &$_EDITOR --install-extension $extension 
    }
}