{{- $parentDir := dir .chezmoi.targetFile -}}
{{- $checkAttributes := output "powershell.exe" "-NoProfile" "-Command" (printf "$filePath = '%s'; $attributes = (Get-Item -Path $filePath -Force).Attributes; ($attributes -band [System.IO.FileAttributes]::Hidden -and $attributes -band [System.IO.FileAttributes]::System)" $parentDir) | trim | lower -}}
{{- if eq $checkAttributes "false" -}}
# {{ output "powershell.exe" "-NoProfile" "attrib" $parentDir }}

attrib +s +h .
{{- end -}}