# windows -> wsl2:
echo "== {{ .chezmoi.sourceFile | trim }} =="
home="$(wslpath -u "$(cmd.exe /c "echo %USERPROFILE%" | tr -d '\r' | sed 's|\\|/|g')")/.wsl2/home/"

if [ -d "$home" ]; then
  find "$home" -type f ! -name '*.bak' ! -name '*.swp' | while read -r file; do
    rel="${file#$home}"
    target="$HOME/$rel"
    echo "$rel"
    if [ ! -L "$target" ]; then
      mkdir -p "$(dirname "$target")"
      [ -e "$target" ] && mv -f "$target" "$target.bak"
      ln -sf "$file" "$target"
    fi
  done
fi

