echo "== {{ .chezmoi.sourceFile | trim }} =="

Import-Module (Join-Path $ENV:CHEZMOI_WORKING_TREE .chezmoilib\DesktopIniAttributes.psm1)

Get-ChildItem -Path $ENV:CHEZMOI_WORKING_TREE -Filter desktop.ini -Recurse | ForEach-Object {
    Remove-DesktopIniAttributes $_.FullName -ErrorAction Continue
}
